 <layout-column class="columns is-multiline m-auto px-6"> 
  <% @services.each do |service_item| %>
      <div class="column is-half-tablet is-one-quarter-desktop is-one-fifth-widescreen is-one-sixth-fullhd " >
          <div class="image">
            <%= image_tag 'wedding1.jpg', class: "card" %>
          </div>
          <div class ="mt-3">
            <p> <strong><%= service_item.name %></strong></p>
            <p> <%= service_item.description %></p>
            <p> <%= service_item.address_1 %>, <%= service_item.city %> </p>
            <p> <%= service_item.country %></p>
          </div>
      </div>
  <% end %>
</layout-column>
I actually dont get why the feed is not displaying